<header class="main-header">
    <nav class="main-nav">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
    </nav>
    <div class="usuario">
        <span class="span-usuario">Usuario: {{usuario}}</span>
    </div>
    <h1 class="titulo">RAP Mania</h1>
    
    <div class="container btn-container">
        <button class="btn btn-text">Escucha el disco de la semana!</button>
        <button class="btn btn-play">&#x025B6</button>
    </div>
</header>