{{> head}}
    {{> headerNav}}
    <div class="main-container">
        <main class="container">
            <article class="article-1">
                <h2 class="article-header">Conciertos</h2>
                <div class="concierto-row">
                    <strong class="concierto-item concierto-fecha">SEP 20</strong>
                    <span class="concierto-item concierto-ciudad">Santiago</span>
                    <span class="concierto-item concierto-arena">Teatro Caupolic치n</span>
                    <button class="concierto-item concierto-btn btn">Comprar tickets</button>
                </div>
                <div class="concierto-row">
                    <strong class="concierto-item concierto-fecha">SEP 27</strong>
                    <span class="concierto-item concierto-ciudad">Santiago</span>
                    <span class="concierto-item concierto-arena">Movistar Arena</span>
                    <button class="concierto-item concierto-btn btn">Comprar tickets</button>
                </div>
                <div class="concierto-row">
                    <strong class="concierto-item concierto-fecha">OCT 04</strong>
                    <span class="concierto-item concierto-ciudad">Vi침a del Mar</span>
                    <span class="concierto-item concierto-arena">Quinta Vergara</span>
                    <button class="concierto-item concierto-btn btn">Comprar tickets</button>
                </div>
                <div class="concierto-row">
                    <strong class="concierto-item concierto-fecha">OCT 18</strong>
                    <span class="concierto-item concierto-ciudad">Concepci칩n</span>
                    <span class="concierto-item concierto-arena">Teatro Universidad de Concepci칩n</span>
                    <button class="concierto-item concierto-btn btn">Comprar tickets</button>
                </div>
            </article>
        </main> 
    </div>
    {{> footer}} 