{{> head}}
    {{> headerNav}}
    <div class="main-container">
        <main class="container">
            <article class="article-1">
                <h2 class="article-header">2Pac</h2>
                <img class="tupac-image" src="img/2pac.jpeg" alt="2Pac">
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis non sit perspiciatis voluptatem tenetur iure, maxime dolor repellat quod, asperiores sequi enim numquam nostrum sunt blanditiis, magnam ea. Tempora ullam, veritatis, repudiandae nam quod non aut dicta cum similique fugiat eveniet tempore. Hic, eaque repellendus suscipit vero, illo corporis maiores necessitatibus officia doloremque aut consequatur dicta perspiciatis atque distinctio vel esse expedita temporibus quam, quibusdam perferendis recusandae tenetur dolor. Dolore quas qui inventore eligendi nihil autem quis culpa nostrum, animi obcaecati, itaque porro assumenda omnis consequatur facilis hic, a nesciunt! Odio tempore iste beatae et commodi illo aliquam quas possimus?</p>
                
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit pariatur illum vitae error impedit aspernatur accusantium at eos, dolorum, quam cupiditate. Eveniet itaque necessitatibus aperiam quisquam laudantium natus perferendis fugiat minus! Perferendis ipsum tempore molestias laudantium maiores. Eius unde cum quaerat minus doloremque dolorum harum sint vitae eum asperiores ab exercitationem quae corrupti cumque quas, eaque fugit commodi, assumenda architecto rerum itaque explicabo expedita enim rem! Autem fugiat quisquam facere explicabo incidunt optio asperiores ea officiis consectetur veniam labore id, voluptatem dolorem ipsa! Amet, ullam laudantium. Aperiam sint nostrum dolore esse eveniet quo optio soluta, dolorum, fugit amet animi repellat nam et officia pariatur fuga quaerat voluptate velit minima ipsa dicta, ad voluptas similique qui. Corrupti earum quis quam soluta deleniti aliquam, magni quas voluptates atque nesciunt mollitia tenetur, dignissimos consectetur expedita ipsam? Perspiciatis eaque soluta consequuntur quisquam iure, sapiente ipsa nobis. Blanditiis commodi, quis odit voluptatem placeat ipsa nisi!</p>
            </article>
        </main> 
    </div>
    {{> footer}} 
    